@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)

  <input type="submit" value="Add New Machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>