@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details:</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers! Add one below.</p>
}
else
{
  <h4>Engineers this Machine is licensed to the following engineer(s):</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add an engineer to this machine", "AddEngineer", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete this machine", "Delete", new { id = Model.MachineId })</p>