@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Details)
  @Html.EditorFor(model => model.Details)

  <input type="submit" value="Save" />
}
@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer isnt licensed to a machine</p>
}
else
{
  <h4>Machines this Engineer is licensed to:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        @Html.Hidden("engineerId", @Model.EngineerId)
        <input type="submit" value="Delete this Machine from this Engineer" />
      }
    }
  </ul>
}
<p>@Html.ActionLink("Back to list", "Index")</p>